* {
	color: #dfdfdf;
}
.container-settings,
.menu-block,
.container-scoreboard,
.container {
	background: -webkit-linear-gradient(#212121,#000323);
	border-bottom: 20px #0f1340 solid;
}
.setlist {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: rgba(0,0,0,0.6);
}
.setlist h3:hover {
	background-color: rgba(255,255,255,0.1);
}
.set-el hr {
	background-color: #efefef;
}
#flrB {
	background-color: #15E341;
}
#slrB {
	background-color: rgba(240,240,240,0.5);
}
#flrA, #slrA {
	background-color: #eee;
}
#flrB, #slrB {
	border: 1px #333 solid;
}
.front {
	background: -webkit-linear-gradient(-32deg,#134e79,#0d1044);
	border: 3px #212121 solid;
}
.front:hover {
	border: 3px #999 solid;
}