* {
	color: #212121;
}
.container-settings,
.menu-block,
.container-scoreboard,
.container {
	background: -webkit-linear-gradient(#fff,#fffac3);
	border-bottom: 20px #FFF176 solid;
}
.setlist {
	background-color: rgba(0,0,0,0.2);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.setlist h3:hover {
	background-color: rgba(255,255,255,0.4);
}
.set-el hr {
	background-color: #333;
}
#flrB {
	background-color: #15E341;
}
#slrB {
	background-color: rgba(0,0,0,0.2);
}
#flrA, #slrA {
	background-color: #eee;
}
#flrB, #slrB {
	border: 1px #333 solid;
}
.front {
	background: -webkit-linear-gradient(-50deg,#ffffff,#fff9b9);
	border: 3px #777 solid;
}
.front:hover {
	border: 3px #212121 solid;
}