* {
	margin: 0;
	padding: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	box-sizing: border-box;
}
body,html {
	min-height: 100vh;
	width: 100%;
}
canvas {
	position: absolute;
	left: 0;
	top: 0;
}
.container-settings,
.menu-block,
.container-scoreboard,
.container {
	text-align: center;
	padding-top: 5vh;
	width: 100%;
	min-height: 100vh;
}
.frontt {
	position: absolute;
	width: 100%;
}
.df {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	height: 85vh;
	padding: 0 5%;
}
.setlist {
	max-width: 400px;
	padding: 50px 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	width: 100%;
}
.setlist h3 {
	padding: 10px 0;
	cursor: pointer;
}
.rotatingblock {
	margin-right: 10%;
	perspective: 1000px;
	-webkit-transform: rotateY(-40deg);
	-ms-transform: rotateY(-40deg);
	-o-transform: rotateY(-40deg);
	transform: rotateY(-40deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	display: none;
}
.cube-wrapper {
	width: 120px;
	height: 120px;
	position: relative;
}
.cube, .cube div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	text-align: center;
	line-height: 120px;
	color: #fff;
}
.cube div {
	background-color: rgba(0,0,0,0.3);
}
.cube-top {
	-webkit-transform: translate(0, -100%) rotateX(90deg);
	-ms-transform: translate(0, -100%) rotateX(90deg);
	-o-transform: translate(0, -100%) rotateX(90deg);
	transform: translate(0, -100%) rotateX(90deg);
	-webkit-transform-origin: bottom;
	-moz-transform-origin: bottom;
	-ms-transform-origin: bottom;
	-o-transform-origin: bottom;
	transform-origin: bottom;
}
.cube-bottom {
	-webkit-transform: translate(0, 100%) rotateX(-90deg);
	-ms-transform: translate(0, 100%) rotateX(-90deg);
	-o-transform: translate(0, 100%) rotateX(-90deg);
	transform: translate(0, 100%) rotateX(-90deg);
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;
}
.cube-right {
	-webkit-transform: translate(100%, 0) rotateY(90deg);
	-ms-transform: translate(100%, 0) rotateY(90deg);
	-o-transform: translate(100%, 0) rotateY(90deg);
	transform: translate(100%, 0) rotateY(90deg);
	-webkit-transform-origin: left;
	-moz-transform-origin: left;
	-ms-transform-origin: left;
	-o-transform-origin: left;
	transform-origin: left;
}
.cube-left {
	-webkit-transform: translate(-100%, 0) rotateY(-90deg);
	-ms-transform: translate(-100%, 0) rotateY(-90deg);
	-o-transform: translate(-100%, 0) rotateY(-90deg);
	transform: translate(-100%, 0) rotateY(-90deg);
	-webkit-transform-origin: right;
	-moz-transform-origin: right;
	-ms-transform-origin: right;
	-o-transform-origin: right;
	transform-origin: right;
}
.cube-back {
	-webkit-transform: translate(0, 100%);
	-ms-transform: translate(0, 100%);
	-o-transform: translate(0, 100%);
	transform: translate(0, 100%);
	transform: translateZ(-120px);
}
.cube-wrapper:hover .cube {
	-webkit-transform: translate(0, 50%) rotateX(-90deg);
	-ms-transform: translate(0, 50%) rotateX(-90deg);
	-o-transform: translate(0, 50%) rotateX(-90deg);
	transform: translate(0, 50%) rotateX(-90deg);
}
.container-settings,
.container-scoreboard {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}
.container-scoreboard {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}
.close-btn, #return {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}
.close-btn::before, .close-btn::after, #return::before, #return::after {
	content: '';
	width: 12px;
	height: 2px;
	background-color: #212121;
	position: absolute;
	top: 9px;
	left: 4px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.close-btn::after, #return::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.version {
	color: #888;
	position: absolute;
	bottom: 30px;
	right: 30px;
	font-size: 14px;
	z-index: 9999;
}
.list {
	text-align: center;
	height: 70vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}
.list h2 {
	margin-bottom: 30px;
}
.el {
	cursor: pointer;
}
.set-el hr {
 width: 60%;
 margin: 20px 20%;
 height: 2px;
 border: none;
}
.d-f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 200px;
}
.d-f h3 {
	text-align: center;
}
.d-f div {
	text-align: left;
	width: 50%;
	height: 50px;
	line-height: 50px;
}
.d-f div:not(.fel) {
	cursor: pointer;
}
.d-f div:nth-of-type(2) {
	text-align: right;
}
form input {
	position: relative;
	display: none;
}
label {
	cursor: pointer;
}
#flr, #slr {
	position: relative;
	font-size: 20px;
	margin-left: -100px;
}
#flrB, #slrB {
	top: 2px;
	left: 100px;
	width: 60px;
	height: 24px;
	position: absolute;
	border-radius: 28px;
	transition: .3s;
	box-shadow: inset 3px 3px 5px rgba(0,0,0,0.4);
}
#flrA, #slrA {
	top: 5px;
	left: 103px;
	width: 18px;
	height: 18px;
	position: absolute;
	border-radius: 50%;
	transition: .3s;
}
#flrA {
	left: 139px;
}
.container {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 15;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.card {
	width: 100px;
	height: 100px;
	margin: 10px;
	position: relative;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.timer {
	font-size: 20px;
	display: none;
	position: absolute;
	left: 50%;
	top: 30px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.back, .front {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: .3s;
}
.back {
	transform: rotateY(180deg);
}
.gamefield {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 500px;
}
.restart {
	position: absolute;
	z-index: 20;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	display: none;
}
.restart * {
	color: #212121;
}
.chooseyourname {
	padding: 20px;
	background-color: #eee;
	font-size: 16px;
}
.chooseyourname div {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}
.chooseyourname input {
	display: block;
	padding: 6px;
	font-size: 16px;
	margin: 6px 0;
	border: 1px #777 solid;
}
.chooseyourname input[type=button] {
	padding: 4px 14px;
	font-size: 16px;
	border: 1px #777 solid;
	background-color: #f3f3f3;
	margin-top: 8px;
}
.chooseyourname input[type=button]:hover {
	border: 1px #333 solid;
	box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
}
.scorename {
	min-width: 30vw;
	text-align: left;
	position: relative;
	padding: 5px 0;
}
.scoretime {
	position: absolute;
	top: 0;
	right: 0;
}
@media (max-width: 900px) {
	.df {
		justify-content: center;
		padding-top: 10vh;
		height: 60vh;
	}
}
@media (max-width: 450px) {
	.menu-block {
		padding-top: 10vh;
	}
}